.Main{
    height: 100vh;
    width: 100%;
    max-width: 400px;
    background-color: white;
}

.heading{
    padding: 0 20px;
    margin-top: 100px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}

.heading img{
    width: 50px;
}

.subway_know{
    margin-top: 20px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40%;
}

.subway_know_list{
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.subway_know_list span{
    margin-right: 5px;
}

.news{
    margin-top: 40px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.news>span{
    font-size: 20px;
    margin-bottom: 15px;
}

.news_list{
    display: flex;
    align-items: center;
    border: solid 1px #ccc;
    border-radius: 12px;
    padding: 10px 8px;
}

.speaker{
    margin-right: 10px;
}

.slowsub{
    margin-top: 40px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.slowsub>span:nth-child(1){
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.slowsub>span:nth-child(2){
    color: #939191;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.slowsub_list{
    align-items: center;
    margin-top: 10px;
    display: flex;
}

.slowsub_btn{
    border-radius: 50px;
    background-color: white;
    border: solid 0.5px #BCBCBC;;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.subs_live{
    margin-top: 40px;
    padding: 0 20px;
}

.subs_live_btn{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.subs_live_btn button{
    background-color: white;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 50px;
}

.subs_live_btn button:nth-child(1){
    margin-right: 20px;
}